body{
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}
p{
    font-size: 12px;
}


.navigation{
    font-size: 1.3em;
     text-transform: uppercase;
}
.logo{
    width:80px;
    height: auto;
}
.img-fluid{
    height:auto;
}
.hero{
    height:90vh;
}
/* .hero {
    height: 100vh;
    background: #000 url(https://www.pexels.com/photo/man-s-hand-in-shallow-focus-and-grayscale-photography-167964/) center center no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero:before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); */
  /* } */
  .hero-content {
    position: absolute;
    bottom: 15px;
    color: #fff;
  } */

  .jumbotron {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

